# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Test Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  analyze:
    name: Analyze Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@v1.3
      - uses: bluefireteam/melos-action@v3

      - name: Bootstrap
        run: |
          dart pub global activate melos
          melos bootstrap


      - name: Check formatting
        run: melos format -- --set-exit-if-changed

      - name: Check linting
        run: |
          melos exec -- "dart run build_runner build"
          melos analyze

  test:
    name: Test Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@v1.3
      - uses: bluefireteam/melos-action@v3

      - name: Prepare Workspace
        run: |
          dart pub global activate melos
          dart pub global activate coverage
          melos bootstrap
          melos exec -- "dart run build_runner build"

      - name: Run Unit tests
        run: melos tests:ci


      - name: Setup Databases For Integration Tests
        uses: ankane/setup-mariadb@v1

      - name: Run MariaDB E2E tests
        with:
          mariadb-version: "10.11"
          database: "maria_test_db"
        run: |
          melos exec -c 1  -- "dart test --coverage=coverage --tags=mariadb" --fail-fast
          melos coverage



      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: coverage/*_lcov.info